@use "../abstracts/functions";
@use "../abstracts/include-media";
@use "../abstracts/mixins";

.button {
    display: inline-flex;
    @include mixins.font-size(8, mobile, true, false, true);
    @if ( functions.get-font-size(8, desktop) != functions.get-font-size(8, mobile) ) {
        @include include-media.media( '>medium' ) {
            @include mixins.font-size(8, desktop, true, false, true);
        }
    }
    @include mixins.font-weight(semibold);
    line-height: 16px;
    text-decoration: none !important;
	text-transform: uppercase;
    background-color: functions.color(bg, 3);
    color: functions.color(typography, 1);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
	height: 48px;
    text-align: center;
    white-space: nowrap;

	&:hover {
		background: color-mix(in oklab, functions.color(bg, 3) 99%, var(--lighten) 2%);
	}

    &:active {
        outline: 0;
    }

    &::before {
        border-radius: 2px;
    }
}

.button-sm {
    padding: 8px 24px;
	height: 32px;
}

.button-primary {
    color: #fff;
	background-color: color-mix(in oklab, functions.color(primary, 1), functions.color(primary, 2));
    background-image: linear-gradient(65deg, functions.color(primary, 1) 0%, functions.color(primary, 2) 100%);

    &:hover {
        background-color: color-mix(
            in srgb, 
            color-mix(in oklab, functions.color(primary, 1), functions.color(primary, 2)), 
            white 4%);
        background-image: linear-gradient(
            65deg, 
            color-mix(in srgb, functions.color(primary, 1), white 4%) 0%, 
            color-mix(in srgb, functions.color(primary, 2), white 4%) 100%);
    }
}

.button-block {
    display: flex;
}

.button-block {
    display: flex;
	width: 100%;
}

@include include-media.media( '<=medium' ) {

	.button-wide-mobile {
		width: 100%;
		max-width: 280px;
	}
}
