/*--------------------------------------------------------------
# Animated Footer
--------------------------------------------------------------*/

.animated-text-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  border-top: 1px solid var(--color-bg-4);
  border-bottom: 1px solid var(--color-bg-4);
}

.animated-text-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;

  .animated-text {
    display: block;
    font-size: clamp(1rem, 10vw, 6.25rem);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;

    span {
      display: inline-block;
      transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    .text-original,
    .text-hover {
      height: 100%;
      width: 100%;
      padding: 1.5rem 0;
    }

    .text-original {
      transform: translateY(0);
    }

    .text-hover {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.25em;
      line-height: 1.5em;
      transform: translateY(100%);
    }
  }

  &:hover .animated-text, 
  body.polar-no-scroll & .animated-text {
    .text-original {
      transform: translateY(-100%);
    }

    .text-hover {
      transform: translateY(0);
    }
  }
}
