@import "../variables.css";

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -32px;
  margin-left: -32px;

  &:first-of-type {
    margin-top: -16px;
  }

  &:last-of-type {
    margin-bottom: -16px;
  }
}

.feature {
  padding: 16px 32px;
  width: 380px;
  max-width: 380px;
  flex-grow: 1;
}

.feature-inner {
  height: 100%;
}

.feature-inner p {
  hyphens: auto;
}

html[lang="de"] .feature-inner p {
  hyphenate-limit-chars: 15 7 7;
}

html[lang="en"] .feature-inner p {
  hyphenate-limit-chars: 9 4 4;
}

html[lang="pt-br"] .feature-inner p {
  hyphenate-limit-chars: 12 6 5;
}

html[lang="es"] .feature-inner p {
  hyphenate-limit-chars: 12 6 5;
}

html[lang="fr"] .feature-inner p {
  hyphenate-limit-chars: 12 6 5;
}

.feature-icon {
  display: flex;
  justify-content: center;
}

.feature-emoji {
  font-size: 4rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .features-wrap {
    &:first-of-type {
      margin-top: -24px;
    }

    &:last-of-type {
      margin-bottom: -24px;
    }
  }

  .feature {
    padding: 32px 32px;
  }
} 