@import "../variables.css";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px 0;
  height: 55px;
  /* background: rgb(from var(--x-background)  r g b / 50%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
  box-shadow: 0 2px 3px color-mix(in srgb, var(--color-bg-1) 92%, #222);
  background: var(--x-background);
}

@media print {
  .site-header {
    display: none;
  }
}

.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  /* text-transform: uppercase; */
  @media (max-width: 1023px) {
    display: none;
  }
}
/* .header-links {
  display: inline-flex;

  li {
    display: inline-flex;
  }

  a:not(.button) {
    font-size: var(--font-size-eta);
    line-height: var(--line-height-eta);
    letter-spacing: var(--kerning-eta);
    font-weight: var(--font-weight-semibold);
    color: var(--color-typography-2);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
    padding: 8px 24px;
  }
} */

@media (min-width: 640px) {
  .hero-bg::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: var(--color-bg-3);
    background: linear-gradient(80deg, rgb(from var(--color-bg-3)  r g b / 50%) 0%, rgb(from var(--color-bg-3)  r g b / 0%) 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    transform: translateY(-115px);
  }
}

.header-logo-image {
  filter:
    hue-rotate(calc(var(--x-primary-h, 209deg) - 209deg))
    saturate(calc(1 + (var(--x-primary-s, 0.98) - 0.98) * 0.85))
    brightness(calc(1 + (var(--x-primary-l, 0.43) - 0.43) * 0.65))
    contrast(calc(0.8 + 0.2/0.98 * var(--x-primary-s, 0.98)));
}

