@import "../variables.css";

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

#pricing {
  scroll-margin-top: calc(60px + 1rem);
  scroll-margin-bottom: 1rem;
}

.pricing-header {
  margin-bottom: 56px;
}

.pricing-tables-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  position: relative;
}

.pricing-figure-box-01,
.pricing-figure-box-02,
.pricing-figure-box-03 {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  transform-origin: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: 100% 100%;
  }
}

.pricing-figure-box-01 {
  background: linear-gradient(29deg, var(--color-primary-1) 0%, rgba(from var(--color-primary-2) r g b / 0) 80%);
  width: 300px;
  height: 300px;
  top: 85px;
  left: 205px;
  transform: rotate(61deg);
}

.pricing-figure-box-02 {
  background: rgba(from var(--color-primary-3) r g b / .72);
  width: 34px;
  height: 34px;
  top: 355px;
  left: 163px;
  transform: rotate(57deg);
}

.pricing-figure-box-03 {
  background: var(--color-primary-2);
  width: 40px;
  height: 40px;
  top: 270px;
  left: 610px;
  transform: rotate(130deg);
  &::before {
    background: linear-gradient(to left, rgb(from var(--color-typography-1)  r g b / 0%) 0%, rgb(from var(--color-typography-1)  r g b / 48%) 100%);
    transform: rotateZ(45deg) scale(1.5);
  }
}

.pricing-table {
  position: relative;
  width: 368px;
  max-width: 425px;
  flex-grow: 1;
  z-index: 1;
  /* opacity: 0; */
}

.pricing-table-header,
.pricing-table-features li:not(:last-child) {
  border-bottom: 1px solid rgb(from var(--color-typography-2)  r g b / 24%);
}

.pricing-table-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  height: 100%;
  background: rgb(from var(--color-bg-4) r g b / 76%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  > * {
    position: relative; /* To display all elements above the box with shadow */
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 24px 48px color-mix(in srgb, var(--color-bg-1) 76%, #222);
  }
}

.pricing-table-price {
  font-family: var(--font-family-heading);

  del {
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
  }
}

.pricing-table-price-currency {
  color: var(--color-typography-2);
}

.pricing-table-features-title {
  color: var(--color-typography-1);
  font-weight: var(--font-weight-bold);
}

.pricing-table-features {
  li {
    display: flex;
    align-items: center;
    padding: 14px 0;

    &::before {
      content: '';
      width: 16px;
      height: 12px;
      margin-right: 16px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNiA2LjRMMS42IDQgMCA1LjYgNS42IDEyIDE2IDEuNiAxNC40IDB6IiBmaWxsPSIjMDJDQkIxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
      background-repeat: no-repeat;
    }

    @media (max-height: 800px) {
      padding: 10px 0;
    }
  }
}

.pricing-table-cta {
  display: flex;
  align-self: flex-end;
}

/* .section-paragraph, .price-hint {
  font-weight: 300;
} */

@media (min-width: 640px) {
  .section-paragraph {
    padding-left: 90px;
    padding-right: 90px;
  }

  .pricing-header {
    margin-bottom: 64px;
  }
} 