@use "../abstracts/functions";
@use "../abstracts/include-media";
@use "../abstracts/mixins";

.site-header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 10px 0;
    height: 55px;
    background: color-mix(in srgb, var(--x-background) 50%, transparent);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    @include mixins.shadow-xxs;
}

@media print {
    .site-header {
        display: none;
    }
}

.site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: inline-flex;

    li {
        display: inline-flex;
    }

    a:not(.button) {
        @include mixins.font-size(7, mobile, true, true, true);
        @if ( functions.get-font-size(7, desktop) != functions.get-font-size(7, mobile) ) {
            @include include-media.media( '>medium' ) {
                @include mixins.font-size(7, desktop, true, true, true);
            }
        }
        @include mixins.font-weight(semibold);
        @include mixins.anchor-aspect(header);
        line-height: 16px;
        padding: 8px 24px;
    }
}

@include include-media.media( '>medium' ) {

	.hero-bg {
		// position: relative;

		&::before {
			content: '';
            z-index: 0;
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 700px;
		    background: functions.color(bg, 3);
		    background: linear-gradient(80deg, color-mix(in srgb, functions.color(bg, 3) 50%, transparent) 0%, color-mix(in srgb, functions.color(bg, 3) 0%, transparent) 100%);
		    -webkit-transform-origin: 0;
		    transform-origin: 0;
		    transform: translateY(-115px);
		}
	}
}
