@use "../abstracts/functions";
@use "../abstracts/include-media";
@use "../abstracts/mixins";

.is-boxed {
    background: functions.color(bg, 3);
}

.body-wrap {
    background: functions.color(bg, 2);
    overflow: clip;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include mixins.shadow;
    mix-blend-mode: normal;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    margin-top: 88px;
    margin-bottom: 88px;
}

@include include-media.media( '>medium' ) {

    .section-inner {
        margin-top: 88px;
    }
}
